doctype html
html(lang='en', ng-app="game", ng-controller="AppCtrl")
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    base(href='/')

    //- Title
    title(ng-bind="Metatags.show().title") 
 
    
    //- Stylesheet and font    
    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    link(href='css/style.css', rel='stylesheet')  
 
    body

        //- Wrapper Site
        section.site 
        
            header.organism-header
                div.molecule-players.first-player
                    span.atom-player-label 1ยบ Player
                    span.molecule-status
                        span.atom-status-label Time
                        span.atom-status-value 2:35
                        span.atom-status-label Moves
                        span.atom-status-value 35
                        
                h1 Cards Remaing: {{ CardsRemaing }}
            //- Main 
            //- =================================
            main#main.organism-main(role='main')
                div.organism-main-views(ui-view)
             


        //- Scripts
        //- =================================  
        script(src='js/_vendor.js')
        script(src='js/app.js') 
