doctype html
html(lang='en', ng-app="game", ng-controller="AppCtrl")
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
    meta(name='format-detection', content='telephone=no') 

    //- Title
    title nvieira.com.br | Angular Memory Game 
    
    //- Stylesheet and font    
    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    link(href='css/style.css', rel='stylesheet') 
    script(src='js/_vendor.js') 
 
    body

        //- Wrapper Site
        section.site 
        
            header.organism-header
            
                div.molecule-controls(ng-if='!game.mode')
                    h1.atom-controls-mainTitle Memory Game in Angular
                    h5.atom-controls-title Select One Game Mode
                    a.atom-btn-red(href='#', ng-click='selectMode("singlePlayer")', start-game) Single Player                    
                    a.atom-btn-red(href='#', ng-click='selectMode("multiPlayer")', start-game) Multiplayer
                    div.atom-control-option
                        label
                            input(type="checkbox" name='reveal' ng-model='reveal.status' value='true') 
                            span Start reveal
                        
                        
                div.molecule-alert(ng-if='game.mode', ng-class='{active : game.finish}')
                    div.molecule-alert-singlePlayer(ng-if='game.mode === "singlePlayer"')
                        h3.atom-alert-title You Win
                        div.atom-alert-message 
                            p You did  
                                span {{ game.singlePlayer.moves }} moves 
                                | and 
                                span {{ game.singlePlayer.score }} points 
                                | in 
                                span {{ game.status.time | secondsInHours }} 
                            a.atom-btn-red(href='#', ng-click='restartGame()', end-game) Restart
                            
                    div.molecule-alert-multiPlayer(ng-if='game.mode === "multiPlayer"')
                        h3.atom-alert-title {{ game.multiPlayer.result }}
                        div.atom-alert-message
                            p
                                strong 1ยบ Player 
                                span 
                                    {{ game.multiPlayer.playerOne.score }} points 
                                | and 
                                span
                                    {{  game.multiPlayer.playerOne.moves }} moves 

                            p
                                strong 2ยบ Player 
                                span 
                                    {{ game.multiPlayer.playerTwo.score }} points 
                                | and 
                                span
                                    {{  game.multiPlayer.playerTwo.moves }} moves 
       
                            a.atom-btn-red(href='#', ng-click='restartGame()', end-game) Restart
                
                div.organism-players-singlePlayer(ng-if='game.mode === "singlePlayer"')
                    div.molecule-players.singlePlayer 
                        span.atom-player-label Status
                        span.molecule-status
                            span.atom-status-label Time 
                            span.atom-status-value {{ game.status.time | secondsInHours }}
                            span.atom-status-label Moves
                            span.atom-status-value {{ game.singlePlayer.moves }}
                            span.atom-status-label Score
                            span.atom-status-value {{ game.singlePlayer.score }} 
                                
                div.organism-players-multiPlayer(ng-if='game.mode === "multiPlayer"')
                    div.molecule-players.playerOne(ng-class='{active : game.turn === "playerOne"}')
                        span.atom-player-label 1ยบ Player
                        span.molecule-status 
                            span.atom-status-label Moves
                            span.atom-status-value {{ game.multiPlayer.playerOne.moves }}
                            span.atom-status-label Score
                            span.atom-status-value {{ game.multiPlayer.playerOne.score }}
                            
                    div.molecule-players.playerTwo(ng-class='{active : game.turn === "playerTwo"}')
                        span.atom-player-label 2ยบ Player
                        span.molecule-status
                            span.atom-status-label Moves
                            span.atom-status-value {{ game.multiPlayer.playerTwo.moves }}
                            span.atom-status-label Score
                            span.atom-status-value {{ game.multiPlayer.playerTwo.score }}
                    
                    div.molecule-players.status        
                        span.atom-status-label Time 
                        span.atom-status-value {{ game.status.time | secondsInHours }} 
                        
            //- Main 
            //- =================================
            main#main.organism-main(role='main')
                div.organism-main-views(ui-view)
                
            br(clear="all")
            br(clear="all")
            br(clear="all")
            br(clear="all")
                

        //- Scripts
        //- =================================  
        script(src='js/app.js') 
