.atom-alert-title
    color $color-red
    text-align center
.atom-alert-message
    padding-top 25px
    line-height 35px
    position relative
    p
        margin-bottom 15px
    span
        color $color-red
    strong
        @extend $placeholder-btn-red
        background-color black
    a
        position absolute
        right -70px
        bottom -120px
