.atom-controls-mainTitle
    padding 0 0 15px
    text-transform uppercase
    color black
.atom-controls-title
    padding 0 0 15px
    text-transform uppercase
.atom-control-option
    text-align center
    label
        margin-top 35px
        text-transform uppercase
        font-size 15px
        display block
    span
        padding 0 7px
