.atom-status-label
    set-font-size(17px)
    line-height 55px
    color $color-beige
    text-transform uppercase
    padding 0 5px

.atom-status-value
    set-font-size(17px)
    line-height 55px
    color $color-red
    text-transform uppercase
    padding 0 5px
    font-weight 700

.atom-status-remaning
    set-font-size(15px)
    line-height 55px
    color $color-beige
    text-transform uppercase
    padding 0 5px
