//
// Scaffolding
// --------------------------------------------------

*
  box-sizing border-box

  &:before,
  &:after
    box-sizing border-box



html
    font-family $font-primary
    color $color-gray
    letter-spacing -1px
    min-width 320px
    font-size 16px

body
    width 100%
    height 100%
    overflow-x hidden
    set-font-size(22px)

.sr-only
    position absolute
    top -50px

.site
    width 94%
    padding 3%
