//
// Variables
//
// 1. Colors
// 2. Elements
// 3. Media Queries
// 4. Typography
//
// ===============================================================

//
// 1. Colors
// --------------------------------------------------
$color-gray = #F4F4F4
$color-red = #DA181E


//
// 2. Elements
// --------------------------------------------------

//
// 3. Media Queries
// --------------------------------------------------

// scale                  0         400px          600px        800px         1050px        1800px

//                        └──┬──┘ └──┬──┘ └──┬──┘ └──┬──┘ └──┬──┘ └──┬──
// Slice numbers:               1             2             3             4             5             6
// scale-names                 'xs'          's'           'm'           'l'           'xl'          'hd'


// scale                  0          400px          600px        800px         1050px        1800px

//                        └──┬──┘ └──────────┬─────────┘ └──┬──┘ └──┬──
// scale-devices             'mobile'                     'tablet'                  'desktop'        'hd'



$debug-enable = false

$debug-break-point
    &:before
        position fixed
        bottom 0
        right 0
        font-size 2rem
        color #FFF
        background-color rgba(0,0,0,0.8)
        padding 0 35px
        z-index 50000

        +at(1)
            content 'xs'
        +at(2)
            content 's'
        +at(3)
            content 'm'
        +at(4)
            content 'l'
        +at(5)
            content 'xl'
        +at(6)
            content 'hd'

body
    if ( $debug-enable is true ){
        @extend $debug-break-point
    }

//
// 3. Media Queries
// --------------------------------------------------
$font-primary = 'Droid Sans', sans-serif
