/*
    Syntax Quick Reference for Jeet
    --------------------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()
    above() -- acima
    below() -- abaixo
    For more info see:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs
    And of course, look in node_modules for axis-css and jeet
*/

// Core
// --------------------------------------------------

// Jeet
@import 'nib';       // Import utilies to Stylus
@import 'jeet';      // Import Jeet to Semantic Grids (http://jeet.gs/)

// edit()

// Functions & Helpers
@import '_core/variables';  // Variables sets
@import '_core/functions';  // Functions configs
@import '_core/helpers';    // Helpers sets


// Normalize
@import '_core/normalize'; // Reset elements


// Placeholder
// --------------------------------------------------
@import 'placeholder/*'

// Atoms
// --------------------------------------------------
@import 'atoms/atom-player';
@import 'atoms/atom-status';
@import 'atoms/atom-card';
@import 'atoms/atom-btn';
@import 'atoms/atom-controls';
@import 'atoms/atom-alert';

// Molecules
// --------------------------------------------------
@import 'molecules/molecule-cards';
@import 'molecules/molecule-players';
@import 'molecules/molecule-status';
@import 'molecules/molecule-controls';
@import 'molecules/molecule-alert';

// Organisms
// --------------------------------------------------
@import 'organisms/organism-header';
@import 'organisms/organism-main';
@import 'organisms/organism-players';

// Pages
// --------------------------------------------------
@import 'pages/html';
@import 'pages/transitions';
