/*
    Syntax Quick Reference for Jeet
    --------------------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()
    above() -- acima
    below() -- abaixo
    For more info see:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs
    And of course, look in node_modules for axis-css and jeet
*/

// Core
// --------------------------------------------------

// Jeet
@import 'nib';       // Import utilies to Stylus
@import 'jeet';      // Import Jeet to Semantic Grids (http://jeet.gs/)

// edit()

// Functions & Helpers
@import '_core/variables';  // Variables sets
@import '_core/functions';  // Functions configs
@import '_core/helpers';    // Helpers sets
// @import '_core/typography'; // Typography sets

// Normalize
@import '_core/normalize'; // Reset elements


// Atoms
// --------------------------------------------------

@import 'atoms/atom-link';
@import 'atoms/atom-contactbar';
@import 'atoms/atom-blocklist';
@import 'atoms/atom-img';
@import 'atoms/atom-lamp';
@import 'atoms/atom-lastjobs';
@import 'atoms/atom-logo';
@import 'atoms/atom-technologies';
@import 'atoms/atom-paragraph';
@import 'atoms/atom-title';
@import 'atoms/atom-languages';
@import 'atoms/atom-filters';
@import 'atoms/atom-slider';
@import 'atoms/atom-menu';
@import 'atoms/atom-view';
@import 'atoms/atom-icon';
@import 'atoms/atom-btn';
@import 'atoms/atom-contact';



// Molecules
// --------------------------------------------------

@import 'molecules/molecule-blocklist';
@import 'molecules/molecule-books';
@import 'molecules/molecule-contactbar';
@import 'molecules/molecule-languages';
@import 'molecules/molecule-lastjobs';
@import 'molecules/molecule-menu';
@import 'molecules/molecule-message';
@import 'molecules/molecule-post';
@import 'molecules/molecule-filters';
@import 'molecules/molecule-slider';
@import 'molecules/molecule-technologies';
@import 'molecules/molecule-view';
@import 'molecules/molecule-redbar';
@import 'molecules/molecule-contact';
@import 'molecules/molecule-aside';
@import 'molecules/molecule-costBenefit'

// Organisms
// --------------------------------------------------
@import 'organisms/organism-contactbar';
@import 'organisms/organism-languages';
@import 'organisms/organism-lastjobs';
@import 'organisms/organism-slider';
@import 'organisms/organism-filters';


// Pages
// --------------------------------------------------

@import 'templates/header';
@import 'templates/main';
@import 'templates/group-columns';

// Pages
// --------------------------------------------------

@import 'pages/html';
@import 'pages/loading-bar';
@import 'pages/transitions';
