$placeholder-card-color
    &.color-red
        background linear-gradient(top, #E0181D, darken(#E0181D, 30%) )

    &.color-blue
        background linear-gradient(top, #4D7AFF, darken(#4D7AFF, 30%) )

    &.color-beige
        background linear-gradient(top, #B4AB99, darken(#B4AB99, 30%) )

    &.color-orange
        background linear-gradient(top, #FE520C, darken(#FE520C, 30%) )

    &.color-yellow
        background linear-gradient(top, #FEFB19, darken(#FEFB19, 30%) )

    &.color-green
        background linear-gradient(top, #00B133, darken(#00B133, 30%) )

    &.color-pink
        background linear-gradient(top, #D894A6, darken(#D894A6, 30%) )

    &.color-black
        background linear-gradient(top, #231E21, darken(#231E21, 30%) )

    &.color-brown
        background linear-gradient(top, #652B00, darken(#652B00, 30%) )

    &.color-purple
        background linear-gradient(top, #60487D, darken(#60487D, 30%) )
